.parent_background {
  -fx-background-color: #f3f3f3;
}

.round-layout {
  -fx-border-radius: 50;
  -fx-border-color: #677;
}

.transparent {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.menu-button {
  -fx-background-color: #29d;
}

.background {
  -fx-background-color: #29d;
}

.background-logo {
  -fx-background-color: #234;
}

.background_main {
  -fx-background-color: #fff;
}

.number_insert {
  -fx-background-radius: 50;
  -fx-background-color: #fc0;
}

.number_insert_non {
  -fx-background-radius: 50;
  -fx-background-color: #fff;
  -fx-border-width: 2;
  -fx-border-color: #fc0;
  -fx-border-radius: 50;
}

.choice-box-category {
  -fx-background-color: #fff;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #000;
}